
  

  
  .apps {
    background-color: #252d4a;
    width: 650px;
    min-height: 300px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .score-section {
    color: #ffffff;
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .question-count span {
    color: #ffffff;
    font-size: 28px;
  }
  
  .question-text {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  /* button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  } */


  .test-selection {
    text-align: center;
    padding: 10rem;
  }
  
  .test-buttons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 5rem;
  }
  
  .test-btn {
    background-color: #00b3b3;
    color: white;
    padding: 2rem 5rem;
    border-radius: 25px;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .test-btn:hover {
    background-color: #008080;
  }
  


  